body {
  background-color: hsl(210, 46%, 95%);
}

h1 {
  font-size: 1.5rem;
  width: 85%;
  display: inline-block;
  color: hsl(217, 19%, 35%);
}

h2 {
  font-size: 15px;
  width: 45%;
  display: inline-block;
  position: relative;
  top: 10px;
  color: hsl(217, 19%, 35%);
}

p {
  width: 85%;
  display: inline-block;
  color: hsl(214, 17%, 51%);
}

#image-drawer {
  height: 100%;
}

#avatar {
  position: relative;
}

.card {
  max-width: 840px;
  border-style: none;
}

.card-body {
  padding-left: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.share p {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #ffff;
  padding: 0.1rem 1.5rem 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.author {
  display: flex;
}

.author img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.about {
  padding-left: 1.5rem;
  align-self: center;
  font-size: 1.1rem;
}

h2 {
  color: hsl(217, 19%, 35%);
  font-size: 15px;
}

time {
  color: hsl(212, 23%, 69%);
  font-size: 12px;
}

.arrow {
  background: hsl(210, 46%, 95%);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share {
  display: flex;
  align-items: center;
  position: absolute;
  background: hsl(217, 19%, 35%);
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  padding: 0 3.2rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
}

.arrow:hover {
  background: hsl(212, 23%, 69%);
}

.arrow:active {
  transform: scale(0.98);
}

.arrow:hover img {
  filter: brightness(100);
  /* transition: none; */
}

.share p {
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  padding-right: 2rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

li {
  padding-right: 1.5rem;
}

a img:hover {
  transform: scale(1.2);
}

@media (max-width:768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card {
    max-width: 420px;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem !important;
    border-bottom-right-radius: 1.2rem !important;
    border-style: none;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
  }

  #image-drawer {
    width: 100%;
    height: 80%;
    border-top-left-radius: 1.2rem !important;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 0 !important;
  }

  h1 {
    width: 97%;
    font-size: 1.2rem;
  }

  .main-div {
    padding-left: 25px;
    padding-right: 12px;
  }
}

@media (max-width:894px) {
  ul {
    transform: translate(-70px, -0px);
  }
}

@media (min-width:895px) {
  .footer {
    border-bottom-right-radius: 1.5rem;
    padding: 0.1rem 3.2rem 1.2rem;
  }

  .arrow {
    margin-right: 0.7rem;
    margin-top: 1.3rem;
  }

  .share {
    top: -3.5rem;
    left: 16.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    width: 24.5rem;
    bottom: 10rem;
  }

  .share::after {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    bottom: -0.8rem;
    left: 50%;
    transform: rotate(45deg);
    background-color: #48556a;
  }
}
